<h2 class="tituloRutina">{{ rutina.nombreRutina }}</h2>

<div *ngFor="let entrenamiento of rutina.progresosEntrenamientos">
  <h3 class="tituloEntrenamiento">{{ entrenamiento.nombreEntrenamiento }}</h3>

  <div class="graficas" *ngFor="let ejercicio of entrenamiento.progresosEjercicios">
    <apx-chart
      [series]="chartPeso[ejercicio.idEjercicio]?.series"
      [chart]="chartPeso[ejercicio.idEjercicio]?.chart"
      [xaxis]="chartPeso[ejercicio.idEjercicio]?.xaxis"
      [title]="chartPeso[ejercicio.idEjercicio]?.title"
    ></apx-chart>

    <apx-chart
      [series]="chartReps[ejercicio.idEjercicio]?.series"
      [chart]="chartReps[ejercicio.idEjercicio]?.chart"
      [xaxis]="chartReps[ejercicio.idEjercicio]?.xaxis"
      [title]="chartReps[ejercicio.idEjercicio]?.title"
    ></apx-chart>
  </div>
</div>
