.example-stepper {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.ejercicio-card {
  margin: 20px;
  border-radius: 16px;
  overflow: hidden;
}

.media-display {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
