<mat-stepper linear orientation="vertical">
  <mat-step
    *ngFor="let ejercicioEntrenamiento of ejerciciosEntrenamientos"
    [stepControl]="getForm(ejercicioEntrenamiento.id)"
  >
    <ng-template matStepLabel>
      {{ ejercicioEntrenamiento.ejercicio.nombre }}
    </ng-template>

    <mat-card class="ejercicio-card">
      <!-- Carousel -->
      <mat-tab-group mat-stretch-tabs="false" animationDuration="500ms">
        <!-- Fotos -->
        <mat-tab *ngFor="let foto of ejercicioEntrenamiento.ejercicio.fotos">
          <ng-template mat-tab-label> Foto </ng-template>

          <img [src]="foto.foto" class="media-display" alt="foto de ejercicio" />
        </mat-tab>

        <!-- Videos -->
        <mat-tab *ngFor="let vid of ejercicioEntrenamiento.ejercicio.videos">
          <ng-template mat-tab-label> Video </ng-template>

          <video class="media-display" [src]="vid.video" controls></video>
        </mat-tab>
      </mat-tab-group>

      <!-- Info -->
      <mat-card-content>
        <h2>{{ ejercicioEntrenamiento.ejercicio.nombre }}</h2>
        <p>{{ ejercicioEntrenamiento.ejercicio.descripcion }}</p>

        <p>
          <strong>Categoría:</strong>
          {{ ejercicioEntrenamiento.ejercicio.categoria.categoria }}
        </p>
      </mat-card-content>
    </mat-card>

    <form [formGroup]="getForm(ejercicioEntrenamiento.id)">
      <div formArrayName="ejercicioEntrenamiento">
        <div
          *ngFor="
            let serie of getSeriesFormArray(ejercicioEntrenamiento.id).controls;
            let i = index
          "
          [formGroupName]="i"
        >
          <p>
            <strong>Serie {{ i + 1 }}</strong>
          </p>

          <mat-form-field appearance="outline">
            <mat-label>Peso</mat-label>
            <input matInput type="number" formControlName="peso" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Repeticiones</mat-label>
            <input matInput type="number" formControlName="repeticiones" />
          </mat-form-field>
        </div>
      </div>

      <button mat-button matStepperNext>Siguiente</button>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <p>Ya completaste todos los ejercicios.</p>
    <button mat-button matStepperPrevious>Atrás</button>
  </mat-step>
</mat-stepper>
