<div class="login-container">
  <mat-card class="login-card">
    <h2>Recuperar contraseña</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <input placeholder="Contraseña" matInput formControlName="password" type="password" />
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <input
          placeholder="Repetir contraseña"
          matInput
          formControlName="password2"
          type="password"
        />

        @if (resetPasswordForm.controls['password2'].hasError('required')) {
        <mat-error>La contraseña nueva es <strong>requerida</strong></mat-error>
        }@if (resetPasswordForm.hasError('passwordsMismatch') &&
        resetPasswordForm.get('password2')?.touched) {

        <mat-error>La contraseñas no coinciden</mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary full-width"
        [disabled]="isLoading() || resetPasswordForm.invalid"
      >
        {{ isLoading() ? 'Cargando...' : 'Enviar' }}
      </button>
      <button mat-raised-button color="primary full-width" (click)="goToLoginPage()">
        Regresar al login
      </button>
    </form>
  </mat-card>
</div>
