<form [formGroup]="ejercicioForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ejercicio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del ejercicio" formControlName="nombre" />
            @if (ejercicioForm.controls['nombre'].hasError('required')) {
            <mat-error>Nombre del ejercicio es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Categoria" formControlName="categoria">
              @for (categoria of categorias; track categoria) {
              <mat-option [value]="categoria.categoria">{{ categoria.categoria }}</mat-option>
              }
            </mat-select>
            @if (ejercicioForm.controls['categoria'].hasError('required')) {
            <mat-error>Categoria es <strong>requireda</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
            @if (ejercicioForm.controls['descripcion'].hasError('required')) {
            <mat-error>Descripcion del ejercicio es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
