<form [formGroup]="checkForm" novalidate class="checkin-container">
  <mat-card class="checkin-card animate-card">
    <mat-card-header>
      <mat-card-title class="title animate-fade-down">Control de Asistencia</mat-card-title>
      <mat-card-subtitle class="subtitle animate-fade-down-delay">
        Identifícate por documento
      </mat-card-subtitle>
    </mat-card-header>

    <!-- Mensaje informativo -->
    <div class="info-message animate-fade">
      <p>
        Para poder <strong>seleccionar una rutina</strong> debes realizar <strong>Check In</strong>.
        Una vez finalizada la rutina, realiza <strong>Check Out</strong> para que tu progreso quede
        registrado.
      </p>
    </div>

    <mat-card-content class="animate-fade">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documento" type="text" autocomplete="off" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="actions animate-fade-up">
      <button
        mat-raised-button
        color="primary"
        class="big-button"
        (click)="onCheckIn()"
        [disabled]="checkForm.invalid"
      >
        Check In
      </button>

      <button
        mat-raised-button
        color="warn"
        class="big-button"
        (click)="onCheckOut()"
        [disabled]="checkForm.invalid"
      >
        Check Out
      </button>
    </mat-card-actions>
  </mat-card>
</form>
