<div class="login-container">
  <mat-card class="login-card">
    <h2>Recuperar contraseña</h2>

    <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="usuario@correo.com" />
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('required')">
          El email es obligatorio
        </mat-error>
        <mat-error *ngIf="recoverPasswordForm.get('email')?.hasError('email')">
          Email no válido
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary full-width" [disabled]="isLoading()">
        {{ isLoading() ? 'Cargando...' : 'Enviar' }}
      </button>
      <button mat-raised-button color="primary full-width" (click)="goToLoginPage()">
        Regresar al login
      </button>
    </form>
  </mat-card>
</div>
