.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: darkslategray;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
