<div class="table-top">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>
<div class="mat-elevation-z2">
  <table mat-table multiTemplateDataRows class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rutina</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
    </ng-container>

    <!-- Duracion -->
    <ng-container matColumnDef="detalles">
      <th mat-header-cell *matHeaderCellDef>Ver progresos rutina</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button class="edit-button" (click)="goDetails(row?.rutina?.id)">
          Ver progresos
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">Seleccion de rutina</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="{{ isExpanded(element) ? 'warn' : 'primary' }}"
          (click)="toggle(element); $event.stopPropagation()"
        >
          <mat-icon>{{ isExpanded(element) ? 'cancel' : 'check_circle_outline' }}</mat-icon>
          {{ isExpanded(element) ? 'Cancelar selección' : 'Seleccionar rutina' }}
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div
          class="example-element-detail-wrapper"
          [class.example-element-detail-wrapper-expanded]="isExpanded(element)"
        >
          <div class="example-element-detail">
            @for (entrenamiento of element.entrenamientos; track entrenamiento; let i = $index) {
            <div class="entrenamiento-element">
              <div class="select-ejercicio-container">
                <button (click)="onEntrenamientoSelect(element, entrenamiento)" matButton="filled">
                  Seleccionar entrenamiento
                </button>
              </div>

              <div class="center">Entrenamiento: #{{ i + 1 }}</div>
              <div>Nombre: {{ entrenamiento.nombre }}</div>
              <div>Descripcion: {{ entrenamiento.descripcion }}</div>
              <div>Categoria: {{ entrenamiento.categoria.categoria }}</div>
              @for (ejercicioEntrenamiento of entrenamiento.ejerciciosEntrenamientos; track
              ejercicioEntrenamiento; let j = $index) {
              <div class="ejercicio-element">
                <div class="center">Ejercicio: #{{ j + 1 }}</div>
                <div>Nombre: {{ ejercicioEntrenamiento.ejercicio.nombre }}</div>
                <div>Descripcion: {{ ejercicioEntrenamiento.ejercicio.descripcion }}</div>
                <div>Categoria: {{ ejercicioEntrenamiento.ejercicio.categoria.categoria }}</div>
                <div>Series: {{ ejercicioEntrenamiento.series }}</div>
                <div>Repeticiones: {{ ejercicioEntrenamiento.repeticiones }}</div>
                <div>Peso: {{ ejercicioEntrenamiento.peso }}</div>
              </div>
              }
            </div>
            }
          </div>
        </div>
      </td>
    </ng-container>
    <!-- Expanded Content Column -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="isExpanded(element)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
