.full-width-table {
  width: 100%;
}

.table-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.delete-button {
  cursor: pointer;
  background-color: red;
  color: black;
}

.edit-button {
  cursor: pointer;
  background-color: cyan;
  color: black;
}

.recover-button {
  cursor: pointer;
  background-color: greenyellow;
  color: black;
}

.agregar-button {
  width: 100px;
  background: green;
  padding: 5px;
  height: 50px;
  font-size: 18px;
}

.deleted-row {
  background-color: rgba(244, 67, 54, 0.1); // rojo claro
  color: #b71c1c; // texto rojizo
  text-decoration: line-through;
  font-style: italic;

  // opcional: efecto hover más sutil
  &:hover {
    cursor: not-allowed;
    background-color: rgba(244, 67, 54, 0.2);
  }
}

tr:not(.deleted-row) {
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(33, 150, 243, 0.08); // azul leve (tema Material)
    cursor: pointer;
  }

  &:active {
    background-color: rgba(33, 150, 243, 0.15); // más intenso al click
  }
}
