<div class="table-top">
  <mat-form-field>
    <mat-label>Filtro por nombre o id</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: press banca" #input />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Filtrar por categoría</mat-label>
    <mat-select (selectionChange)="applyFilterByCategory($event.value)">
      <mat-option value="">Todas</mat-option>
      <mat-option *ngFor="let entry of categorias | keyvalue" [value]="entry.value">
        {{ entry.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="agregar-button" mat-icon-button>Agregar</button>
</div>
<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ejercicio</th>
      <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let row">{{ row.categoria.categoria }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button class="edit-button" (click)="editEjercicio(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button class="delete-button" (click)="deleteCustomer(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
