<div class="table-top">
  <div class="status-toggles">
    <mat-slide-toggle
      class="legend-toggle deleted"
      [(ngModel)]="includedDeleted"
      (click)="applyFilterToggle()"
    >
      Usuarios eliminados
    </mat-slide-toggle>

    <mat-slide-toggle
      class="legend-toggle invalid"
      [(ngModel)]="includedInvalid"
      (click)="applyFilterToggle()"
    >
      Membresías no válidas
    </mat-slide-toggle>

    <mat-slide-toggle
      class="legend-toggle disabled-user"
      [(ngModel)]="includedDissabled"
      (click)="applyFilterToggle()"
    >
      Usuarios no validados
    </mat-slide-toggle>

    <mat-slide-toggle
      class="legend-toggle valid"
      [(ngModel)]="includedValid"
      (click)="applyFilterToggle()"
    >
      Usuarios válidos
    </mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <button (click)="create()" class="agregar-button" mat-icon-button>Agregar</button>
</div>
<div class="status-legend">
  <div class="legend-item legend-item-deleted"></div>
  <span>Usuario eliminado</span>

  <div class="legend-item legend-item-invalid-member"></div>
  <span>Membresía no válida</span>

  <div class="legend-item legend-item-disabled"></div>
  <span>Usuario no habilitado</span>

  <div class="legend-item legend-item-valid-member"></div>
  <span>Usuario valido y membresia valida</span>
</div>

<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
      <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="membresia">
      <th mat-header-cell *matHeaderCellDef>Membresia actual</th>
      <td mat-cell *matCellDef="let row">{{ row.membresiaActiva?.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="vencimiento">
      <th mat-header-cell *matHeaderCellDef>Vencimiento membresia</th>
      <td mat-cell *matCellDef="let row">
        {{ row.membresiaActiva?.fechaVencimiento | date : 'dd/MM/yyyy HH:mm' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ultimoPago">
      <th mat-header-cell *matHeaderCellDef>Ultimo pago</th>
      <td mat-cell *matCellDef="let row">
        {{ row.membresiaActiva?.fechaUltimoPago | date : 'dd/MM/yyyy HH:mm' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="validado">
      <th mat-header-cell *matHeaderCellDef>Validado</th>
      <td mat-cell *matCellDef="let row">
        @if (row.enabled) {
        <mat-icon>check</mat-icon>
        }@else {
        <button
          matTooltip="Reenviar mail de confirmacion al cliente"
          mat-icon-button
          (click)="resendEmailValidation(row.id)"
        >
          <mat-icon>outgoing_mail</mat-icon>
        </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button class="edit-button" (click)="edit(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="pagar">
      <th mat-header-cell *matHeaderCellDef>Realizar pago</th>
      <td mat-cell *matCellDef="let row">
        @if (row.membresiaActiva && !row.deleted) {
        <button
          matTooltip="Realizar el pago del cliente"
          mat-icon-button
          class="edit-button"
          (click)="openPay(row)"
        >
          <mat-icon style="color: green">attach_money</mat-icon>
        </button>
        }@else {

        <button
          matTooltip="No se puede realizar el pago porque el cliente no tiene una membresia activa"
          mat-icon-button
        >
          <mat-icon style="color: red">block</mat-icon>
        </button>

        }
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Deshabilitar/Habilitar</th>
      <td mat-cell *matCellDef="let row">
        @if (row.deleted) {
        <button mat-icon-button class="recover-button" (click)="recover(row.id)">
          <mat-icon>history</mat-icon>
        </button>
        }@else {
        <button mat-icon-button class="delete-button" (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.deleted-row]="row.deleted"
      [class.disabled-row]="!row.enabled"
      [class.valid-member]="!row.deleted && isMembresiaValida(row)"
      [class.invalid-member]="!row.deleted && !isMembresiaValida(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
