.valid-member {
  background-color: rgba(76, 175, 80, 0.05) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: normal;

  &:hover {
    background-color: rgba(0, 255, 8, 0.356) !important;
    cursor: pointer !important;
  }
}

.invalid-member {
  background-color: rgba(255, 153, 0, 0.151) !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-style: normal;

  &:hover {
    background-color: rgba(255, 152, 0, 0.1) !important;
    cursor: not-allowed !important;
  }
}
