<form [formGroup]="rutinaForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="base-form-card">
    <mat-card-header>
      <mat-card-title>Rutina</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre de la rutina" formControlName="nombre" />
            @if (rutinaForm.controls['nombre'].hasError('required')) {
            <mat-error>Nombre de la rutina es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Ejercicio" formControlName="ejercicios" multiple>
              @for (ejercicio of ejercicios; track ejercicio) {
              <mat-option [value]="ejercicio.nombre">{{ ejercicio.nombre }}</mat-option>
              }
            </mat-select>
            @if (rutinaForm.controls['ejercicios'].hasError('required')) {
            <mat-error>Ejercicios es <strong>requiredo</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
            @if (rutinaForm.controls['descripcion'].hasError('required')) {
            <mat-error>Descripcion del ejercicio es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
