<div class="table-top">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>
<div class="status-legend">
  <div class="legend-item legend-suscribed"></div>
  <span class="text-legend">Membresia Activa</span>

  <div class="legend-item legend-old-suscribed"></div>
  <span class="text-legend">Membresía que se suscribio en algun momento</span>
</div>
<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.membresia.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.membresia.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let row">{{ row.membresia.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let row">{{ row.membresia.precio }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidadClases">
      <th mat-header-cell *matHeaderCellDef>Cantidad de clases</th>
      <td mat-cell *matCellDef="let row">{{ row.membresia.cantidadClases }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaInscripcion">
      <th mat-header-cell *matHeaderCellDef>Fecha de inscripcion</th>
      <td mat-cell *matCellDef="let row">{{ row.membresiaUsuario?.fechaInscripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaVencimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha de vencimiento</th>
      <td mat-cell *matCellDef="let row">{{ row.membresiaUsuario?.fechaVencimiento }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaUltimoPago">
      <th mat-header-cell *matHeaderCellDef>Fecha de ultimo pago</th>
      <td mat-cell *matCellDef="let row">{{ row.membresiaUsuario?.fechaUltimoPago }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Suscribirse/Desuscribirse</th>
      <td mat-cell *matCellDef="let row">
        @if (row?.membresiaUsuario?.enabled) {
        <button mat-button class="delete-button" (click)="desuscribir(row.id)">
          Desuscribirse
        </button>
        } @else {
        <button mat-button class="recover-button" (click)="suscribir(row.id)">Suscribirse</button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      [class.deleted-row]="row.deleted"
      [class.suscribed]="row.membresiaUsuario?.enabled"
      [class.old-suscribed]="row.membresiaUsuario && !row.membresiaUsuario?.enabled"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
