<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (menuItem of menuItems; track menuItem.tittle) { @if (menuItem.visible ||
      menuItem.default) {
      <a
        mat-list-item
        [routerLink]="menuItem.redirection"
        routerLinkActive="item-selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="link-item">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.tittle }}</span>
        </div>
      </a>
      } }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div class="tittle-page">
        @if (isHandset$ | async) {
        <mat-icon class="icon-tittle-page">fitness_center</mat-icon>
        }@else{
        <mat-icon class="icon-tittle-page">fitness_center</mat-icon>
        <span class="icon-tittle-text">gymse</span>
        <mat-icon class="icon-tittle-page">fitness_center</mat-icon>
        }
      </div>

      <div class="tittle-page">
        <mat-icon class="icon-tittle-page">person</mat-icon>
        @if (isHandset$ | async) {
        <span class="icon-tittle-text">{{ totalActivas }} </span>
        }@else{
        <span class="icon-tittle-text">{{ totalActivas }} personas actualmente</span>
        }
      </div>

      <app-user-info></app-user-info>
    </mat-toolbar>

    <section id="principal">
      <ng-content></ng-content>
    </section>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
