.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-selected {
  background: var(--mat-sys-tertiary);
}

.item-selected span {
  color: black;
}

.link-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.link-item span {
  font-size: large;
}
