.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  background-color: rgb(153, 0, 0);
  color: red !important;
  font-weight: 500;
}

.item-selected {
  background: rgba(233, 30, 99, 0.15);
  color: #f492b4;
}
