.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-selected {
  background: var(--mat-sys-tertiary);
}

.item-selected span {
  color: black;
}

.item-selected mat-icon {
  color: var(--mat-sys-primary);
}

.link-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.link-item span {
  font-size: large;
}

.tittle-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon-tittle-page {
  color: var(--mat-sys-primary);
}

.icon-tittle-text {
  margin: 0px 5px;
  font-weight: bold;
}
